.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.footerLogo {
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: rgb(247, 66, 66);
}

@media (max-width: 550px) {
    .footer {
        flex-direction: column;
    }
}