.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 50px;
}

.typeSelect {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.formRadioBtn {
	display: inline-block;
	margin: 0 20px;
}

.formRadioBtn input[type=radio] {
	display: none;
}

.formRadioBtn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 2px solid rgba(247, 66, 66, 1);
	border-radius: 6px;
	user-select: none;
}
 
.formRadioBtn input[type=radio]:checked + label {
	background: rgba(247, 66, 66, 0.8);
}
 
.formRadioBtn label:hover {
	border-color: #fff;
}